Package: enigma2-plugin-skins-sevenhd
Version: 3.6.48
Section: misc
Priority: optional
Architecture: all
Depends: python-requests, python-subprocess, python-imaging, enigma2-plugin-systemplugins-mphelp
Maintainer: Team Kraven
Description: Skin for Enigma2 (HD, FHD, UHD)
Source:
